<a href="https://colab.research.google.com/github/FranciscoValdez-ITD/Proba/blob/main/U1Practica_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
# Basado en el libro de probabilidad y estadistica
import random
import statistics as stats
edades=[]
for i in range(100):
 na=random.randint(18,70)
 edades.append(na)
print(edades)

[38, 67, 43, 47, 57, 61, 32, 32, 43, 63, 66, 26, 30, 55, 67, 65, 56, 67, 25, 69, 33, 62, 36, 58, 21, 23, 68, 30, 63, 27, 19, 66, 67, 40, 20, 35, 18, 32, 49, 22, 38, 34, 60, 70, 55, 21, 43, 26, 58, 65, 39, 54, 20, 26, 67, 31, 66, 70, 24, 31, 47, 66, 53, 47, 56, 56, 50, 50, 57, 42, 59, 28, 68, 40, 47, 46, 45, 68, 66, 35, 70, 43, 20, 51, 37, 45, 67, 47, 23, 34, 31, 39, 32, 37, 31, 33, 52, 36, 20, 52]

In [18]:
import pandas as pd

In [19]:
# Crear un Dataframe de pandas con los numeros aleatorios
df=pd.DataFrame(edades,columns=['Edad'])
df.head()

   Edad
0    38
1    67
2    43
3    47
4    57

In [22]:
# Calcular la tabla de distribucion de frecuencias
tabla_frecuencias = df['Edad'].value_counts().sort_index()
# Convertir la Serie a un DataFrame y resetear el indice para que 'Edad' sea una columna
tabla_frecuencias = tabla_frecuencias.reset_index()
# Renombrar las columnas
tabla_frecuencias.columns = ['Edad', 'Frecuencia']

# Imprimir la tabla
print("Tabla de distribucion de frecuencias")
tabla_frecuencias

Tabla de distribucion de frecuencias

    Edad  Frecuencia
0     18           1
1     19           1
2     20           4
3     21           2
4     22           1
5     23           2
6     24           1
7     25           1
8     26           3
9     27           1
10    28           1
11    30           2
12    31           4
13    32           4
14    33           2
15    34           2
16    35           2
17    36           2
18    37           2
19    38           2
20    39           2
21    40           2
22    42           1
23    43           4
24    45           2
25    46           1
26    47           5
27    49           1
28    50           2
29    51           1
30    52           2
31    53           1
32    54           1
33    55           2
34    56           3
35    57           2
36    58           2
37    59           1
38    60           1
39    61           1
40    62           1
41    63           2
42    65           2
43    66           5
44    67           6
45    68           3
46    69           1
47    70           3

In [23]:
tabla_frecuencias['Frec Relativa']=tabla_frecuencias['Frecuencia']/100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa
0     18           1           0.01
1     19           1           0.01
2     20           4           0.04
3     21           2           0.02
4     22           1           0.01
5     23           2           0.02
6     24           1           0.01
7     25           1           0.01
8     26           3           0.03
9     27           1           0.01
10    28           1           0.01
11    30           2           0.02
12    31           4           0.04
13    32           4           0.04
14    33           2           0.02
15    34           2           0.02
16    35           2           0.02
17    36           2           0.02
18    37           2           0.02
19    38           2           0.02
20    39           2           0.02
21    40           2           0.02
22    42           1           0.01
23    43           4           0.04
24    45           2           0.02
25    46           1           0.01
26    47           5           0.05
27    49           1           0.01
28    50           2           0.02
29    51           1           0.01
30    52           2           0.02
31    53           1           0.01
32    54           1           0.01
33    55           2           0.02
34    56           3           0.03
35    57           2           0.02
36    58           2           0.02
37    59           1           0.01
38    60           1           0.01
39    61           1           0.01
40    62           1           0.01
41    63           2           0.02
42    65           2           0.02
43    66           5           0.05
44    67           6           0.06
45    68           3           0.03
46    69           1           0.01
47    70           3           0.03

In [24]:
tabla_frecuencias['Frec Porcentual']=tabla_frecuencias['Frecuencia']/100*100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual
0     18           1           0.01              1.0
1     19           1           0.01              1.0
2     20           4           0.04              4.0
3     21           2           0.02              2.0
4     22           1           0.01              1.0
5     23           2           0.02              2.0
6     24           1           0.01              1.0
7     25           1           0.01              1.0
8     26           3           0.03              3.0
9     27           1           0.01              1.0
10    28           1           0.01              1.0
11    30           2           0.02              2.0
12    31           4           0.04              4.0
13    32           4           0.04              4.0
14    33           2           0.02              2.0
15    34           2           0.02              2.0
16    35           2           0.02              2.0
17    36           2           0.02              2.0
18    37           2           0.02              2.0
19    38           2           0.02              2.0
20    39           2           0.02              2.0
21    40           2           0.02              2.0
22    42           1           0.01              1.0
23    43           4           0.04              4.0
24    45           2           0.02              2.0
25    46           1           0.01              1.0
26    47           5           0.05              5.0
27    49           1           0.01              1.0
28    50           2           0.02              2.0
29    51           1           0.01              1.0
30    52           2           0.02              2.0
31    53           1           0.01              1.0
32    54           1           0.01              1.0
33    55           2           0.02              2.0
34    56           3           0.03              3.0
35    57           2           0.02              2.0
36    58           2           0.02              2.0
37    59           1           0.01              1.0
38    60           1           0.01              1.0
39    61           1           0.01              1.0
40    62           1           0.01              1.0
41    63           2           0.02              2.0
42    65           2           0.02              2.0
43    66           5           0.05              5.0
44    67           6           0.06              6.0
45    68           3           0.03              3.0
46    69           1           0.01              1.0
47    70           3           0.03              3.0